body{
    background: linear-gradient(90deg,#0e699c 0%, #093e6f 50%, #000000 100%);
    color: white;
    font-family: cursive;
}
.infoInput:hover{
    background-color: #ebebeb;
}
.infoInput:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
/*NOTEBOOKS E COMPUTADORES*/
@media screen and (min-width: 768px){
    #logo{
        position: relative;
        z-index: -2;
        width: 10%;
        margin: 2% 0 0 3%;
    }
    .login-container{
        margin: -2% auto;
        width: 80%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    h1{
        letter-spacing: 10px;
        font-size: 100px;
        margin-bottom: 4%;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    section{
        width: 70%;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 30%;
    }
    label{
        font-size: 40px;
        margin: 0 1% 0 0;
    }
    .emailSection{
        align-items: center;
        margin-bottom: 2%;
    }
    .passwordSection{
        align-items: center;
        margin-bottom: 3%;
    }
    .infoInput{
        font-size: 13px;
        color: white;
        text-align: left;
        border: none;
        margin: 0 1% 0 0;
    }
    button{
        color: #fde74c;
        font-size: 20px;
        position: relative;
        width: 20%;
        height: 2.4em;
        border: 2px solid #fde74c;
        background: transparent;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        cursor: pointer;
    }
    #submit::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fde74c;
        transition: width 0.3s ease;
        z-index: -1;
    }
    #submit:hover::after {
        width: 100%;
    }
    #submit:hover {
        color: black;
    }
    #submit:active {
        box-shadow: 0 3px #666;
        transform: translateY(1px);
    }
    .passwordInputs{
        align-items: center;
        margin: 0;
    }
    #userLogin{
        height: 2.3em;
        width: 40%;
        border: 0;
        border-bottom: 2px solid #555;
        background: transparent;
        outline: none;
        position: relative;
        z-index: 10;
    }
    #userError{
        color: rgba(255, 0, 0, 0.637);
        font-size: 15px;
        position: relative;
        margin: 4.5em 0 0 0;
        right: 41%;
    }
    #passwordError{
        color: rgba(255, 0, 0, 0.637);
        font-size: 15px;
        position: relative;
        margin: 4.5em 0 0 0;
        right: 58%;
    }
    #passwordLogin{
        height: 2.5em;
        width: 57%;
        border: 0;
        border-bottom: 2px solid #555;
        background: transparent;
        outline: none;
        position: relative;
        z-index: 10;
    }
    #showPassword{
        width: 1.5em;
        height: 1.5em;
    }
    .hiddenCheckbox{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkboxImage{
        display: inline-block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-image: url(/exercícioPrático/hiddenPassword.jpg);
        background-size: cover;
        background-position: center;
    }
    .hiddenCheckbox:checked + .checkboxImage {
        background-image: url(/exercícioPrático/showingPassword.jpg);
        background-size: cover;
        background-position: center;
    }
    .recoverySection{
        width: 100%;
        margin: 0;
        justify-content: center;
        margin-bottom: 3%;
    }
    .recoverySection a{
        font-size: 17px;
        color: white;
    }
}
/*NÃO ESTÁ FUNCIONANDO
@media screen and (max-width: 767px) and (min-width: 360px){
    .login-container{
        margin: 50% auto;
        width: 80%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    h1{
        letter-spacing: 10px;
        font-size: 150px;
        margin-bottom: 10%;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    section{
        width: 70%;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 25%;
    }
    label{
        font-size: 50px;
        margin: 0 1% 0 0;
    }
    .emailSection{
        align-items: center;
        margin-bottom: 8%;
    }
    .passwordSection{
        align-items: center;
        margin-bottom: 9%;
    }
    .infoInput{
        text-align: center;
        border: none;
        border-radius: 20px;
        margin: 0 1% 0 0;
    }
    button{
        font-size: 26px;
        position: relative;
        width: 25%;
        height: 2em;
        border: none;
        background-color: #fde74c;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
    }
    .passwordInputs{
        align-items: center;
        margin: 0;
    }
    #emailLogin{
        height: 3em;
        width: 50%;
    }
    #passwordLogin{
        height: 3em;
        width: 80%;
    }
    .hiddenCheckbox{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkboxImage{
        display: inline-block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image: url(/exercícioPrático/hiddenPassword.jpg);
        background-size: cover;
        background-position: center;
    }
    .hiddenCheckbox:checked + .checkboxImage {
        background-image: url(/exercícioPrático/showingPassword.jpg);
        background-size: cover;
        background-position: center;
    }
    .recoverySection{
        width: 100%;
        margin: 0;
        justify-content: center;
        margin-bottom: 6%;
    }
    .recoverySection a{
        font-size: 20px;
        color: white;
    }
}*/